* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}


.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*WIOSNA*/

.spring {
    width: 1060px;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
}

.springFoto {
    width: auto;
    height: 550px;
    /*margin-top: 70px;*/
    margin-left: -65px;
    float: left;
}



.aboutSpring {
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    width: 510px;
    text-align: justify;
    background: white;
}

.aboutSpring h1 {
    word-spacing: 3px;
    font-size: 40px;
    color: 	#808080;
    font-weight: 500;
    text-align: right;
    font-family: 'Lato';
    padding-right: 10px;
}

.aboutSpring h2 {
    word-spacing: 3px;
    font-size: 20px;
    color: 	#808080;
    font-weight: 300;
    text-align: end;
    font-family: 'Lato';
    padding-right: 10px;
}

.springDescription {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.springDescription p {
    font-size: 12px;
    font-family: 'Lato';
}

.springColors {
    width: 500px;
    margin-top: -2px;
    height: auto;
    font-family: 'Lato';
    padding-right: 10px;
}


/*SUMMER*/

.summer {
    width: 1060px;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
}

.summerFoto {
    width: auto;
    height: 550px;
    /*margin-top: 70px;*/
    margin-left: -65px;
    float: left;
}



.aboutSummer {
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    width: 510px;
    text-align: justify;
    background: white;
}

.aboutSummer h1 {
    word-spacing: 3px;
    font-size: 40px;
    color: 	#808080;
    font-weight: 500;
    text-align: right;
    font-family: 'Lato';
    padding-right: 10px;
}

.aboutSummer h2 {
    word-spacing: 3px;
    font-size: 20px;
    color: 	#808080;
    font-weight: 300;
    text-align: end;
    font-family: 'Lato';
    padding-right: 10px;
}

.summerDescription {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.summerDescription p {
    font-size: 12px;
    font-family: 'Lato';
}

.summerColors {
    width: 500px;
    margin-top: -2px;
    height: auto;
    font-family: 'Lato';
    padding-right: 10px;
}


/*AUTUMM*/

.autumm {
    width: 1060px;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
}

.autummFoto {
    width: auto;
    height: 550px;
    /*margin-top: 70px;*/
    margin-left: -65px;
    float: left;
}



.aboutAutumm {
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    width: 510px;
    text-align: justify;
    background: white;
}

.aboutAutumm h1 {
    word-spacing: 3px;
    font-size: 40px;
    color: 	#808080;
    font-weight: 500;
    text-align: right;
    font-family: 'Lato';
    padding-right: 10px;
}

.aboutAutumm h2 {
    word-spacing: 3px;
    font-size: 20px;
    color: 	#808080;
    font-weight: 300;
    text-align: end;
    font-family: 'Lato';
    padding-right: 10px;
}

.autummDescription {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.autummDescription p {
    font-size: 12px;
    font-family: 'Lato';
}

.autummColors {
    width: 500px;
    margin-top: -2px;
    height: auto;
    font-family: 'Lato';
    padding-right: 10px;
}


/*ZIMA*/

.winter {
    width: 1060px;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
}

.winterFoto {
    width: auto;
    height: 550px;
    /*margin-top: 70px;*/
    margin-left: -65px;
    float: left;
}



.aboutWinter {
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    width: 510px;
    text-align: justify;
    background: white;
}

.aboutWinter h1 {
    word-spacing: 3px;
    font-size: 40px;
    color: 	#808080;
    font-weight: 500;
    text-align: right;
    font-family: 'Lato';
    padding-right: 10px;
}

.aboutWinter h2 {
    word-spacing: 3px;
    font-size: 20px;
    color: 	#808080;
    font-weight: 300;
    text-align: end;
    font-family: 'Lato';
    padding-right: 10px;
}

.winterDescription {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.winterDescription p {
    font-size: 12px;
    font-family: 'Lato';
}

.winterColors {
    width: 500px;
    margin-top: -2px;
    height: auto;
    font-family: 'Lato';
    padding-right: 10px;
}


.comeBackButton {
    background-color: yellow;
    color: black;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    font-weight: 600;
}

.yourColors {
    color: dimgrey;
    font-weight: bold;
    font-size: 14px;
}

